* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 14px;
}
body {
  height: 100%;
  color: #333;
  min-width: 1280px;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
#app {
  height: 100%;
}

ul,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dd {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
